<h1>Welcome to our BEEZER game!</h1>
<p>Player 1! Please choose between Rock/Paper/Scissors and write "play" followed by a slash, followed by your choice, followed by a slah in the search bar! Player 2, please choose between Rock/Paper/Scissors after the slash.</p>

<img src="rock.jpeg" alt="The Rock">

<img src="paper.png" alt="Paper">

<img src="scissors.jpg" alt="Scissors">
